# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      GITHUBCFG_PAT: ${{ secrets.GITHUBCFG_PAT }}
      GITHUBCFG_NAMESPACE: ${{ secrets.GITHUBCFG_NAMESPACE }}
      GITHUBCFG_USERNAME: ${{ secrets.GITHUBCFG_USERNAME }}    
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Publish
      run: dotnet publish
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Create packages
      run: dotnet nuget push "bin/Release/DotNetApiUnitOfWork.1.0.1.nupkg" --api-key $GITHUBCFG_PAT --source "github"